@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto:wght@400;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.block {
  font-family: 'Inconsolata', monospace;
  display: table;
  background-color: white;
  position: relative;
  margin: 10% auto 0;
  width: 40vh;
  height: 40vh;
  background: black;
  border-radius: 5%;

  font-size: 10vh;
  text-align: center;
  color: white;
}

.glow::before , .glow::after{
   content: "";
   position: absolute;
   left: -2px;
   top: -2px;
   background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099,
  #6e0dd0, #ff3300, #099fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 5%;

}

@keyframes animate {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}

.glow::after{
  filter:blur(10px);
  opacity: 0.99;
}

.block p {
  display: table-cell;
  vertical-align: middle;
}

.title {
  color: white;
  text-align: center;
  margin-top:150px;
  font-size: 5vh;
  margin-left: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 29, 29);
  color: white;
  text-align: center;

}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
}