footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 29, 29);
    color: white;
    text-align: center;
  
  }
  
  footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
  }
  